<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"mp-site-main mp-section","layout":{"type":"constrained"}} -->
<main class="wp-block-group mp-site-main mp-section"><!-- wp:group {"align":"wide","className":"is-style-mp-section-heading","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide is-style-mp-section-heading"><!-- wp:post-date {"textColor":"lime","fontSize":"small"} /-->
<!-- wp:post-title {"level":1,"className":"mp-section-title","fontSize":"xx-large"} /--></div>
<!-- /wp:group -->

<!-- wp:post-featured-image {"align":"wide","aspectRatio":"16/9","className":"is-style-mp-workshop-image"} /-->

<!-- wp:post-content {"layout":{"type":"constrained"}} /-->

<!-- wp:group {"align":"wide","className":"mp-section--compact mp-section--bordered","layout":{"type":"flex","flexWrap":"wrap","justifyContent":"space-between"}} -->
<div class="wp-block-group alignwide mp-section--compact mp-section--bordered"><!-- wp:post-terms {"term":"category","prefix":"Kategorie: ","textColor":"muted","fontSize":"small"} /-->
<!-- wp:post-terms {"term":"post_tag","prefix":"Schlagwörter: ","textColor":"muted","fontSize":"small"} /--></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
